# Build assets
dist/
storybook-static/
node_modules/

# Logging
build-storybook.log*
yarn-error.log*
npm-debug.log*
yarn-debug.log*
*.log

# Yarn Integrity file
.yarn-integrity

# TypeScript cache
*.tsbuildinfo

# IDEs
.vscode

# System files
.DS_Store
.env
.env.test

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json